* {
  margin: 0;
  padding: 0;
}

.cover {
  width: 100%;
  /* background-color: rgb(192, 195, 39); */
}

.first-head {
  height: 42px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-left: 120px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 14px;
}

.first-info {
  display: flex;
  /* background-color: antiquewhite; */
  width: 600px;
  align-items: center;
}

.first-info div {
  /* background-color: aqua; */
  padding: 5px;
  border-right: 2px solid black;
  width: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.first-info img {
  margin-right: 8px;
}

span {
  font-weight: 700;
  margin-left: 5px;
}

header {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.burger-menu {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.burger-menu img {
  width: 48px;
  height: 48px;
}
h1 {
  color: #008ecc;
  margin-left: 10px;
}

.search {
  display: flex;
  position: relative;
  width: 507px;
  height: 40px;
  /* background-color: green; */
  margin-top: 20px;
}
input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  border-radius: 10px;
  border: 0px;
  background-color: #f3f9fb;
}

.search img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 25%;
}

.search img:first-child {
  left: 10px;
}
.search img:last-child {
  right: 10px;
}

.regstration {
  display: flex;
  /* background-color: gray; */
  align-items: center;
  justify-content: space-around;
  width: 220px;
  margin-right: 45px;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  padding-right: 10px;
}
.paymant {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  width: 99%;
  margin: 10px auto;
  color: gray;
}

section {
  display: flex;
  justify-content: space-around;
  width: 1450px;
  /* background-color: bisque; */
  margin: 0 auto;
}

.selecteds {
  background-color: #f3f9fb;
  /* width: 100px; */
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 50px;
}

.selecteds img {
  margin-left: 10px;
}

.selecteds:first-child {
  background-color: #008ecc;
  color: white;
}

.second-s {
  /* background-color: aqua; */
  width: 1300px;
  margin-top: 50px;
}

.salesInfo {
  width: 100%;
  background-color: #212844;
  height: 320px;
  border-radius: 20px;
  position: relative;
}

.salesInfo img {
  position: absolute;
}

.salesInfo img:nth-child(2) {
  right: 120px;
  top: 20px;
  z-index: 1;
}
.salesInfo img:nth-child(3) {
  right: 0px;
  z-index: 0;
  top: 0px;
}

.salesInfo img:first-child {
  position: absolute;
  top: 30px;
  left: 100px;
}
.salesInfo img:nth-child(4) {
  left: 100px;
  z-index: 0;
  top: 80%;
}

.salesInfo button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  border: none;
  font-size: 30px;
  color: #008ecc;
  background-color: #f3f9fb;
}

.left {
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
}

.right {
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
}

.third-s {
  width: 1300px;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.third-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative; 
  margin-top: 80px;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.third-head::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(to right, #008ecc 25%, #d0d0d0 25% 100%);
  z-index: -1; 
}

.third-head span {
  color: #008ecc;
}

.third-head h3 {
  font-weight: 700;
}

.phones {
  /* background-color: antiquewhite; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.phones-div {
  /* background-color: aquamarine; */
  width: 230px;
  border-radius: 20px;

}

.sale-procent{
    width: 50px;
    height: 50px;
    background-color:#008ECC;
    margin-left: auto;
    border-top-right-radius: 10px;  
    border-bottom-left-radius: 10px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
}




.img-back{
 /* background-color: gray; */
 display: flex;
 justify-content: center;
}

.info-bottom{
    /* background-color: yellow; */
    padding-left: 15px;
}

.info-bottom h4 , p{
    margin-top: 10px;
}
.info-bottom h5{
    margin-top: 5px;
}
.info-bottom p{
    color: #249B3E;
}

del{
    margin-left: 10px;
    font-weight: 100;
}

.phones-div:nth-child(2){
    border: 1px solid #008ECC;
    border-radius: 10px;
}




.section-4 {
  width: 1300px;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.four-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative; 
  margin-top: 80px;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.four-head::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(to right, #008ecc 25%, #d0d0d0 25% 100%);
  z-index: -1; 
}

.four-head span {
  color: #008ecc;
}

.four-head h3 {
  font-weight: 700;
}

.categories-div{
  width: 100%;
  /* background-color: #249B3E; */
  margin-top: 30px;

}

.items{
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
}


.section-5 {
  width: 1300px;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.five-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative; 
  margin-top: 80px;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.five-head::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(to right, #008ecc 25%, #d0d0d0 25% 100%);
  z-index: -1; 
}

.five-head span {
  color: #008ecc;
}

.five-head h3 {
  font-weight: 700;
}

.five-items{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}